Requirement already satisfied: gunicorn in c:\users\slotzs\desktop\veterinario\env\lib\site-packages (23.0.0)
Requirement already satisfied: whitenoise in c:\users\slotzs\desktop\veterinario\env\lib\site-packages (6.9.0)
Requirement already satisfied: dj-database-url in c:\users\slotzs\desktop\veterinario\env\lib\site-packages (3.0.1)
