{% extends 'gestion/base.html' %}

{% block title %}Registrar Nuevo Cliente{% endblock %}

{% block content %}
<div class="card shadow-sm p-4">
    <h2 class="mb-4">Registrar Nuevo Cliente</h2>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}

        <div class="mt-4">
            <button type="submit" class="btn btn-primary">Guardar</button>
            <a href="{% url 'lista_clientes' %}" class="btn btn-secondary">Cancelar</a>
        </div>
    </form>
</div>
{% endblock %}
